0 --- game type
300000 --- time limit
30 --- score limit
Maps/base.map -- map to be used
1 --- Iterations. Number of games to be run

1 --- team1 AI type, defines the finite state machine used
3 --- team1 number of bots
0 --- team1 squad size, ie number of bots in a squad. game will create the number of needed squads
45 --- team1 respawn time

2 --- team2 AI type
3 --- team2 number of bots
3 --- team2 squad size
45 --- team2 respawn time
